body{
    background-color:lightgray;
    text-decoration:none;
}
.profilename{
    color:silver;

}
.tababout {
    float: left;
    width: 25%;
    background-color: silver;
    text-decoration: none
}
.tabProjects {
    float: left;
    width:25%;
    background-color: silver;
    text-decoration: none
}
.tabSkills {
    float: left;
    width: 25%;
    background-color: silver;
    text-decoration: none
}
.tabEmployment {
    float: left;
    width: 25%;
    background-color: silver;
    text-decoration: none
}