body{
    background-color:aliceblue;
    text-decoration:none;
}
.profilename{
    color:silver;

}
.tababout {
    float: left;
    width: 25%;
    background-color: teal;
    text-decoration: none;
    list-style: none
}
.tabProjects {
    float: left;
    width: 25%;
    background-color: teal;
    text-decoration: none;
    list-style: none
}
.tabSkills {
    float: left;
    width: 25%;
    background-color: teal;
    text-decoration: none;
    list-style: none
}
.tabEmployment {
    float: left;
    width: 25%;
    background-color: teal;
    text-decoration: none;
    list-style:none
}