body{
    background-color:lightgray;
    text-decoration:none;
}
.profilename{
    color:silver;

}
.tababout{
    float:left;
    
    background-color:silver;
    text-decoration:none

}
.tabProjects {
    float: left;
    
    background-color: silver;
    text-decoration: none
}
.tabSkills {
    float: left;
   
    background-color: silver;
    text-decoration: none
}
.tabEmployment {
    float: left;
   
    background-color: silver;
    text-decoration: none
}